body{
    background-image: none;
    background-image:url(gradphoto.jpg) ;
    background-image: linear-gradient();
    background-position: center;
    background-color: rgb(21, 9, 185);
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

header{
    font-size: large;
    background-image: linear-gradient(rgba(58, 116, 163, 0.5),rgba(2, 33, 61, 0.75));
    padding: 10px ;
    border: rgb(14, 53, 180) solid;
    position: sticky;
    word-spacing: 10px;
    letter-spacing: 1px;
    text-align: center;
}

h2{
    background-image: linear-gradient(rgba(242, 246, 250, 0.5),rgba(0, 6, 10, 0.75));
    padding: 10px ;
    word-spacing: 10px;
    letter-spacing: 1px;
} 

h3{
    background-image: linear-gradient(rgba(71, 71, 216, 0.5),rgba(1, 4, 58, 0.75));
    padding: 10px ;
    word-spacing: 10px;
    letter-spacing: 1px;
}

footer{
    background-image: linear-gradient(rgba(80, 80, 85, 0.5),rgba(7, 7, 7, 0.75));
    word-spacing: 10px;
    padding: 10px;
    text-align: center;
}

